@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');

html,body {
    margin: 0;
    background-color: lightblue;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: #006600;
    color: white;
    padding-right: 20%;
    padding-left: 20%;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    font-family: 'Lato', sans-serif;
}

.logo {
    max-width: 100px;
    max-height: 100px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.nav-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    gap: 10px;
}

.nav-link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20px;
    background-color: #006600;
    text-decoration: none;
    cursor: pointer;
}

.nav-link:hover {
    background-color: #006600;
    color: yellow;
}

.centro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.area {
    background: blue;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.section-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 50px;
    border: none;
    text-decoration: none;
    transition-duration: 100ms;
    cursor: pointer;
}